.mainIndividualDiv {
    margin: 1rem;
}

.inidvidualDivShow {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.divShowButtonDiv {
    display: flex;
}

.divShowUpdate,
.divDeleteUpdate {
    cursor: pointer;
    width: 100px;
    height: 25px;
}

.divShowUpdate {
    border: 0px;
    background-color: #14AD14;
    color: white;
}

.divShowUpdate:hover {
    background-color: #37BC37;
}


.divDeleteUpdate {
    background-color: #EF1C11;
    border-color: #EF1C11;
    border: 0px;
    color: white;
}

.divDeleteUpdate:hover {
    background-color: #f24940;
}

.divShowTitle {
    height: auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}

.divShowButtonDiv {
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 700px) {
    .mainIndividualDiv {
        margin: 0;
    }
}